* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    overflow: scroll;
    font-family: 'Segoe UI', sans-serif;
    font-size: 1.1em;
}

header {
    background: #202529;
    color: #fff;
    height: 9%;
    display: flex;
    align-items: center;
    padding: 0.5em;
}

.github-logo {
    fill: #fff;
    margin-left: 0.5em;
}

header input {
    font-size: 0.9em;
    background: #3c4044;
    margin-right: 0.5em;
}

header ul li {
    list-style: none;
}

header ul .navigation-item {
    display: inline-block;
    margin: 0.5em;
    cursor: pointer;
    font-weight: 600;
    font-size: 0.82em;
}

header ul .navigation-item:hover {
    color: #c7c8c9;
}

header ul .rounded-circle {
    border-radius: 50%;
    height: 1.7em;
    width: 1.7em;
}