* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    overflow: scroll;
    font-family: 'Segoe UI', sans-serif;
    font-size: 1.1em;
}

header {
    background: #202529;
    color: #fff;
    height: 10%;
    display: flex;
    align-items: center;
    padding: 0.5em;
    width: 100%;
}

.github-logo {
    fill: #fff;
    margin-left: 0.8em;
}

header input {
    font-size: 0.85em;
    background: #3c4044;
    margin-left: 1.5em;
    margin-right: 1.5em;
    padding: 0.3em;
    border: 0px none;
    border-radius: 0.2em;
    color: #fff !important;
}

header nav:nth-of-type(1) {
    width: 67%;
}

header ul {
    display: flex;
    width: 100%;
}

header ul li {
    list-style: none;
}

header ul .navigation-item {
    display: inline-block;
    margin: 0.5em;
    cursor: pointer;
    font-weight: 600;
    font-size: 0.82em;
}

header ul .navigation-item:hover {
    color: #c7c8c9;
}

header ul .profile-account {
    margin-left: 0.5em;
    cursor: pointer;
}

.bell {
    fill: #fff;
    margin-left: 0.5em;
}

.plus {
    fill: #fff;
    margin-left: 0.5em;
}

.dropdown {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    content: "";
    border-top-style: solid;
    border-top-width: 4px;
    border-right: 4px solid transparent;
    border-bottom: 0 solid transparent;
    border-left: 4px solid transparent;
    margin-bottom: 0.5rem;
}

.dropdown-profile {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    content: "";
    border-top-style: solid;
    border-top-width: 4px;
    border-right: 4px solid transparent;
    border-bottom: 0 solid transparent;
    border-left: 4px solid transparent;
    margin-bottom: 0.9rem;
}

header ul .rounded-circle {
    border-radius: 50%;
    height: 1.3em;
    width: 1.3em;
    /* margin-left: 0.5em; */
}

main {
    display: flex;

}

/* SIDE MENU STARTS */

main aside {
    display: inline-block;
    width: 30%;
}

div .profile-image {
    border-radius: 50%;
    width: 80%;
    padding: 1.5em;
}

/* SECTION BODY STARTS */

main section {
    display: inline-block;
    width: 70%;
}